.development-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;

  .ant-result-title {
    font-family: "Montserrat", sans-serif;
  }

  .ant-btn {
    background-color: #1890ff;
    border-color: #1890ff;
    &:hover {
      background-color: #40a9ff;
      border-color: #40a9ff;
    }
  }

  .fas {
    font-size: 50px;
    color: #1890ff;
  }
}
